<section class="content-header">
    <h1>@ViewBag.title1</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewBag.title2</a></li>
        <li class="active"><i class="@ViewBag.Ikon1"></i> @ViewBag.title3</li>
        <li class="active"><i class="@ViewBag.Ikon2"></i> @ViewBag.title4</li>
    </ol>
</section>